.mvk-layout-inside {
    background: $mainbg;
    min-height: 100vh;
    transition: all .3s ease-in-out;

    &-sider-fixed {
        padding-left: $siderWidth;
    }

    &-sider-fixed-collapse {
        padding-left: $sideWidthCollapse;
    }

}