@import './variables.scss';
@import './mheader.scss';
@import './msider.scss';
@import './minside.scss';
@import './mlogo.scss';
@import './mtags.scss';
@import './threeColumn.scss';

.itman {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}


.itman-body {
	flex: 1;
    display: flex;
    flex-flow: column;
	overflow: auto;
}

.itman-wrapper {
	display: flex;
    flex: 1;
    overflow: auto;
}




.mvk-hamburger-container {
	min-width: $headerHeight;
    height: $headerHeight;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        background: rgb(66 161 255 / 30%);
    }
}

.itman-layout-content {
    display: flex;
    flex-direction: column;
    flex: 1;
	overflow: auto;
}

.itman-layout-content-main {
    flex: 1;
    padding: $contentPadding;
	overflow: auto;
}

.itman-layout-content-card {
    padding: 15px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 0 rgb(158 164 194 / 20%);
}

.itman-footer {
    text-align: center;
    font-size: 14px;
    color: #808695;
    padding: 15px;
}
