.itman-three-layout {
	display: flex;
    flex: 1;
    overflow: auto;
	font-size: 12px;

	.itman-main-menu-side {
		width: $sideWidthCollapse;
		flex-shrink: 0;
		background: $sideDarkColor;
		display: flex;
		flex-flow: column;

		.side-logo{
			height: $sideWidthCollapse;
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				width: 40px;
				height: 40px;
			}
		}

		li {
			cursor: pointer;
			width: $sideWidthCollapse;
			height: $sideWidthCollapse;
			color: #fff;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			&:hover {
				background: rgba(255, 255, 255, 0.1);
			}

			&.active {
				color: #fff;
            	background-image: $sideDarkBgActivColor;
			}
		}
	}


}

.itman-menu-side {
	display: flex;
	flex-flow: column;
	flex-shrink: 0;
	width: $siderWidth - $sideWidthCollapse;
	box-shadow: 2px 0 8px 0 rgb(29 35 41 / 5%);
	border-right: 1px solid #e6e6e6;
	transition: width 0.3s;

	.el-menu {
		border-right:none
	}
}

.second-menu-side-top {
	border-bottom: 1px solid #ebeef5;
	height: $headerHeight;
	line-height: $headerHeight;

	.title {
		padding: 0 20px;
		font-size: 17px;
		color: #3c4a54;
		font-weight: bold;
	}
}

.itman-menu-side-bottom {
	border-top: 1px solid #ebeef5;
	height: 35px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.itman-layout-sider-dark {
	.second-menu-side-top {
		border-bottom:none;

		.title {
			color: $sideDarkTextColor;
		}
	}
}
